name: Docker Update Automation
on:
  schedule:
  - cron: "0 23 * * *"

  push:
      branches:
        - master
jobs:
  build:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@master

      - name: Create local changes
        run: |
          curl "https://raw.githubusercontent.com/manami-project/anime-offline-database/master/anime-offline-database.json" > anime-offline-database.json
          python3 main.py
          sudo apt-get install sqlite3
          sqlite3 anime.db .dump > anime.sql && echo "Dump sql success"
          echo "Yeet\n\n"
      - name: Check diff then stage and commit files
        id: diff
        run: |
          if [[ `git status --porcelain` ]]
            then
              git add -A
              git config --local user.email "action@github.com"
              git config --local user.name "Update Automation"
              git commit -m "Automation update entries $(date +'%Y' ) week $(date '+%V')"
              echo ::set-output name=status::success
          else
            echo ::set-output name=status::failure
          fi

      - name: Push changes
        uses: ad-m/github-push-action@master
        if: steps.diff.outputs.status == 'success'
        with:
          github_token: ${{ secrets.GH_TOKEN }}


      - name: Publish to Dockerhub
        if: steps.diff.outputs.status == 'success'
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: luqmansen/hanako-postgresql
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

  sync_dockerhub_readme:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@master

      - uses: meeDamian/sync-readme@v1.0.6
        with:
          pass: ${{ secrets.DOCKER_PASSWORD }}
          description: true